hideAllPages() {

  #configForm {
    display: none;
  }

  footer {
    display: none;
  }
}

body.loading {
  hideAllPages();

  #bb8-loading {
    display: block;
    punchItBB8();
  }
}

body.requestInteraction {
  hideAllPages();

  #requestInteractionButton {
    display: flex;
  }
}

body.runningVideo {
  hideAllPages();
  overflow: hidden;

  #configForm {
    display: flex;
    > form {
      display: none;
    }

    > .may-fourth-alert {
      display: none;
    }
  }

  &.showForm {
    overflow-y:  auto;
    #configForm > form {
      display: flex;
      fadeIn();
    }

    #deathstar {
      fadeOut(4s, 2s);
    }

    footer {
      display: block;
      fadeIn();
    }

    .playing-buttons {
      opacity: 0;
    }
  }
}

body.downloadPage {
  hideAllPages();

  footer {
    display: block;
  }

  #downloadPage {
    display: flex;
  }
}