#donation_success {
  @extend #downloadPage;
  display: flex;

  img {
    width: 100%;
    height: auto;
  }

  p {
    text-align: center;
  }

  .button {
    buttonStyle();
    margin-top: 20px;
    text-decoration: none;
  }
}