#donation_after {
  @extend #downloadPage;
  display: flex;

  .panel {
    @media mobile {
      align-items: initial;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  p {
    text-align: center;
  }

  .button {
    buttonStyle();
    margin-top: 20px;
    text-decoration: none;

    @media mobile {
      width: auto;
    }
  }

  a {
    @media mobile {
      font-size: 2em;
      text-align: center;
    }
  }
}