#downloadPage {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  font-size: 18px;
  font-family: $defaultFontFamily;

  @media mobile {
    .pageTitle {
      margin-top: 50px;
    }
  }

  .panel {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 10px 50px 35px;
    max-width: 800px;
    width: 60%;
    border: 2px solid $panelTextColor;
    border-radius: 3px;
    background-color: $panelBackgroundColor;
    letter-spacing: .05em;

    @media mobile {
      max-width: 1000px;
      width: 80%;
      border-width: 4px;
      border-radius: 10px;

      iframe {
        margin: 10% 25%;
        width: 50%;
        transform: scale(2);
      }

      iframe.stripe {
        margin: 42% 25%;
      }
    }

    h2 {
      starWarsFontStyle();
      text-align: center;
    }

    a {
      color: $titlesColor;
    }

    button {
      buttonStyle();
    }

    p.email {
      text-align: center;
      font-weight: bold;
    }

    .center {
      display: flex;
      justify-content: center;
    }

    #closeButton {
      position: absolute;
      align-self: flex-end;
      margin-left: 39px;
      padding: 2px 6px 6px;
      font-size: 2em;
      line-height: 24px;

      @media mobile {
        margin: 20px;
        padding: 14px;
        width: auto;
        font-size: 2em;
        line-height: 13px;
      }
    }

    p {
      @media mobile {
        font-size: 2em;
        line-height: 1.2em;

        * {
          font-size: inherit;
        }
      }
    }

    #downloadVideoButton {
      buttonStyle();
      margin: 20px 0;
      text-decoration: none;
      font-size: 1.3em;
    }
  }

  .image-preview-container {
    position: relative;
    border: 2px solid $panelTextColor;
    border-radius: 3px;
    width: 80%;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    @media mobile {
      max-width: 800px;
      width: 75%;
    }
  }
}

.donateOrNotDonateButtons {
  display: flex;
  justify-content: center;

  @media mobile {
    flex-direction: column;
    align-items: center;

    button {
      flex: 1;
    }
  }
}

.termsOfServiceAcceptance {
  a {
    font-weight: bold;
  }
}

.contactButton {
  font-weight: bold;
}

#emailRequestField {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      inputStyle();
      margin-top: 20px;
      margin-bottom: 20px;
      width: 80%;
      color: $titlesColor;
      font-size: 1.2em;

      @media mobile {
        width: 100%;
        font-size: 2.4em;
      }
    }

    .checkbox {
      font-family: Arial;
      user-select: none;
      margin-bottom: 1em;

      label {
        display: inline;
        margin-left: 6px;
        vertical-align: middle;
        cursor: pointer;
        fontSizeResponsive();

        @media mobile {
          margin-left: 15px;
        }
      }

      .regular-checkbox {
        display: block;
        height: 0;
        margin: 0;
        opacity: 0;

        &:hover {
          &+label {
            border-color: $inputBorderColorHover;
          }
        }

        &:focus {
          &+label {
            border-color: $inputBorderColorFocus;
          }
        }

        &+label {
          inputStyle();
          display: inline-block;
          width: 9px;
          height: 9px;

          @media mobile {
            width: 18px;
            height: 18px;
          }
        }

        &:checked + label:after {
          position: relative;
          top: -7px;
          color: $titlesColor;
          content: '\25A0';
          letter-spacing: 0;
          cursor: pointer;
          fontSizeResponsive();

          @media mobile {
            top: -8px;
          }
        }
      }
    }
  }
}

#stripeDonateIframe {
  height: 507px;
  width: 100%;

  @media (max-width: 1000px) {
    height: 693px;
  }
}

.payment-container {
  position: relative;

  .center {
    position: absolute;
    z-index: -10;
    width: 100%;
  }
}
