#downloadPage {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  font-family: $defaultFontFamily;

  .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 10px 50px 35px;
    max-width: 600px;
    width: 60%;
    border: 2px solid $panelTextColor;
    border-radius: 3px;
    background-color: $formBackgroundColor;
    letter-spacing: .05em;

    @media mobile {
      max-width: 1000px;
      width: 80%;

      iframe {
        margin: 10% 25%;
        width: 50%;
        transform: scale(2);
      }
    }

    h2 {
      starWarsFontStyle();
      text-align: center;
    }

    a {
      color: $titlesColor;
    }

    button {
      buttonStyle();
    }

    p.email {
      text-align: center;
      font-weight: bold;
    }

    .center {
      display: flex;
      justify-content: center;
    }

    #closeButton {
      position: absolute;
      align-self: flex-end;
      margin-left: 39px;
      padding: 6px;
      line-height: 6px;

      @media mobile {
        margin: 20px;
        padding: 14px;
        width: auto;
        font-size: 2em;
        line-height: 13px;
      }
    }

    p {
      @media mobile {
        font-size: 2em;

        * {
          font-size: inherit;
        }
      }
    }

    #downloadVideoButton {
      buttonStyle();
      margin: 20px 0;
      text-decoration: none;
      font-size: 1.3em;
    }
  }
}

.donateOrNotDonateButtons {
  display: flex;
  justify-content: center;

  @media mobile {
    flex-direction: column;
    align-items: center;

    button {
      flex: 1;
    }
  }
}

.requestDownloadPage {
  iframe {
    margin-top: 5px;
    width: 100%;

    &.isBrazil {
      height: 123px;
    }
  }

  @media mobile {
    iframe {
      margin: 10% 25%;
      width: 50%;
      transform: scale(2);
      height: 56px;

      &.isBrazil {
        height: 143px;
      }
    }
  }
}

.termsOfServiceAcceptance {
  a {
    font-weight: bold;
  }
}

.contactButton {
  font-weight: bold;
}

#emailRequestField {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      inputStyle();
      margin-top: 20px;
      margin-bottom: 20px;
      width: 80%;
      color: $titlesColor;
      font-size: 1.2em;

      @media mobile {
        width: 100%;
        font-size: 2.4em;
      }
    }
  }
}