$footerCreditsColor = alpha($titlesColor, .8);

mobileFooter() {
  @media mobile {
    transform: scale(2);
    margin: 10% 25%;
    width: 50%;
  }
}

footer {
  font-family: $defaultFontFamily;

  .kasselLogo {
    position: absolute;
    top: 0;
    color: $footerCreditsColor;
    font-size: .9em;

    a {
      text-decoration: none;
    }

    img {
      padding: 16px;
      height: 20px;

      @media mobile {
        height: 40px;
      }
    }

    @media mobile {
      width: 100%;
      text-align: center;
    }
  }

  .socialButtons {
    display: flex;
    flex-direction: column;
    mobileFooter();

    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 10;

    div {
      margin-bottom: .5em;

      &:last-of-type{
        margin-bottom: 0;
      }
    }

    > #donateFooterButton {
      buttonStyle();
      margin-bottom: 10px;
      margin-left: 0;

      @media mobile {
        width: auto;
        font-size: 1.5em;
      }
    }

    .social-pages {
      margin-bottom: 10px;

      > a {
        margin-right: 10px;
        fill: $titlesColor;

        &:hover {
          fill: lighten($titlesColor, 30);
        }
      }

      svg {
        width: 40px;
      }
    }
  }

  .rightFooter {
    mobileFooter();

    @media mobile {
      margin-top: 380px;
      padding-bottom: 50px;
    }

    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 10;
    text-align: center;

    a{
      display: block;
      margin-bottom: 5px;
      color: $titlesColor;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }

    #anotherServiceLink {
      margin-bottom: 20px;
    }

    &.-chat-available {
      bottom: 11em;
    }

    bottom: 8em; // Margin for Facebook Messenger Chat plugin
  }

  @media only screen and (max-device-width : 1024px)  {

    .socialButtons {
      position: initial;
      align-items: center;
      margin-bottom: 30px;
    }

    .rightFooter {
      position: initial;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
  }
}
