@import './fonts/NewsCycleFont.css';
@import './imageAdjustmentDialog.styl';

@font-face {
  font-family: StarWars;
  src: url('./fonts/Starjedi.ttf');
}

@font-face {
  font-family: StarWarsTitle;
  src: url('./fonts/SWCrawlTitle3.ttf');
}

html,
button,
input,
textarea {
  line-height: 1.25em;
}

starWarsFontStyle() {
  color: $titlesColor;
  letter-spacing: 3px;
  font-family: StarWars;
  line-height: 1.1em;
}

$defaultFontFamily = Arial, sans-serif;

// media queries
$HD = '(max-height: 720px)';

// variables
$timeFactor = 1.0;
$extraTime = 0s;
$introColor = #4bd5ee;
$titlesColor = #ffd54e;

$formBackgroundColor = lighten(black, 3%);
$panelBackgroundColor = lighten(black, 5%);

$buttonHoverColor = #382b00;
$buttonFocusColor = lighten($formBackgroundColor, 40%);

$errorRed = #ab0000;
$panelTextColor = #d0ad3e;
$warningYellow = $panelTextColor;

mobile = 'only screen and (max-device-width : 500px)';

:root {
  --time-factor: $timeFactor;
  --extra-time: $extraTime;

  --intro-background-duration: calc(9s * var(--time-factor));

  --intro-text-duration: calc(6s * var(--time-factor));
  --intro-text-delay: calc(1s * var(--time-factor));

  --intro-logo-duration: calc(11s * var(--time-factor));
  --intro-logo-delay: calc(9s * var(--time-factor));

  --intro-crawl-duration: calc((73s + var(--extra-time)) * var(--time-factor));
  --intro-crawl-delay: calc(13s * var(--time-factor));

  --intro-ending-duration: calc(7s * var(--time-factor));
  --intro-ending-delay: calc((86s + var(--extra-time)) * var(--time-factor));
}

html,
body {
    display: initial;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url('https://kassellabs.us-east-1.linodeobjects.com/static-assets/star-wars/bg-stars.png') repeat;
    background-color: black;
    color: $titlesColor;
}

h1 {
  font-size: 40px;

  @media mobile {
    font-size: 60px;
  }
}

h2 {
  font-size: 2em;

  @media mobile {
    font-size: 4em;
  }
}

iframe{
  border: 0;
}

.verticalWrapper{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  @media mobile {
    height: 100vh;
    width: 100vw;
  }
}

@keyframes fadeinAnimation {
    from {
      visibility: hidden;
      opacity: 0;
    }

    to   {
      visibility: visible;
      opacity: 1;
    }
}

@keyframes fadeoutAnimation {
    from {
      visibility: visible;
      opacity: 1;
    }

    to   {
      visibility: hidden;
      opacity: 0;
    }
}

fadeIn($delay = 0s, $fadeDuration = 500ms) {
  animation: fadeinAnimation $fadeDuration linear $delay forwards;
}

fadeOut($delay = 0s, $fadeDuration = 500ms) {
  animation: fadeoutAnimation $fadeDuration linear $delay forwards;
}

buttonStyle() {
  margin: 0 .3125em;
  padding: .625em 2em;
  border: 2px solid $panelTextColor !important;
  border-radius: 3px !important;
  background-color: $formBackgroundColor;
  color: $panelTextColor;
  text-align: center;
  font-weight: 500;
  font-size: 1.0625em;
  font-family: $defaultFontFamily;
  cursor: pointer;
  outline: none;

  &:hover, &:active {
    background-color: $buttonHoverColor !important;
  }

  &:focus {
    box-shadow: 0 0 0 2px $buttonFocusColor !important;
  }

  @media mobile {
    margin-top: 20px;
    width: 100%;
    border: 4px solid $panelTextColor !important;
    border-radius: 6px !important;
    font-size: 2em;

    &:focus {
      box-shadow: 0 0 0 4px $buttonFocusColor !important;
    }
  }
}

@import './configForm.styl';
@import './bb8.css';
@import './punchItBB8.styl';
@import './animation.styl';
@import './footer.styl';
@import './sweetalert.styl';

.hide {
  display: none;
}

.noselect {
  user-select: none;
}

#bb8-loading {
  display: none;
}

#requestInteractionButton {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  > div {
    @extend $actionButtonStyle;
  }
}

.pageTitle {
  starWarsFontStyle();
  margin-top: 0;
  text-align: center;
}

@import './bodyStates.styl';
@import './downloadPage.styl';
@import './donation_after.styl';

@import './scrollbar.styl';
@import './checkForDonation.styl';
@import './Loader.styl';
@import './videoOptions.styl';
@import './socialButtons.styl';
