::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $inputBorderColor;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $inputBorderColorHover;
    &:hover {
        background-color: var(--titles-color);
    }
}
