.social-buttons {

  .social-pages-links {
    margin-bottom: 10px;
    text-align: center;
  }

  .social-pages-links > a {
    margin-right: 10px;
    fill: $titlesColor;

    &:hover {
      fill: lighten($titlesColor, 30);
    }
  }

  svg {
    width: 40px;
  }
}
